.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    height: 160px;
    background-color: #D9D9D9;
}

.header-title,
.header-subtitle {
    text-align: center;
}

.header-subtitle {
    width: 460px;
}

.search-bar-container {
    margin-left: 30px;
}

.search-bar {
    position: relative;
    padding-left: 16px;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 36px;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 0 10px;
    height: 50px;
    background-color: #ECECEC;
}

.separator-content {
    display: flex;
    flex-shrink: 0;
    gap: 20px;
}

.separator::-webkit-scrollbar {
    height: 8px;
}

.separator::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
}

.separator::-webkit-scrollbar-track {
    background-color: #ECECEC;
}

.filter-button {
    flex-shrink: 0;
    width: 160px;
}

.filter-select {
    flex-shrink: 0;
    height: 30px;
    width: 160px;
}

.course-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.course-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 60px;
}

.course-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.course-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    height: 280px;
}

.course-image {
    margin: 10px 0;
    width: 100%;
    height: 180px;
    background-color: #ECECEC;
    border-radius: 6px;
    cursor: pointer;
}

.course-info {
    cursor: pointer;
}

.title h2 {
    margin-bottom: 2px;
}

.contact-section {
    margin-bottom: 20px;
}

.contact-box {
    padding: 16px 64px;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px 0;
}

.footer-text {
    text-align: center;
    margin-top: 16px;
}

@media (max-width: 1200px) {
    .course-list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .header-subtitle {
        width: 400px;
    }

    .separator {
        justify-content: flex-start;
        padding: 0 60px;
    }

    .course-list-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-info {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .course-list-container {
        grid-template-columns: 1fr;
    }
}
