.dashboard {
    display: flex;
    flex-direction: column;
    margin: 60px 60px;
}

.box {
    display: flex;
    justify-content: center;
    padding: 10px;
    max-height: 180px;
    background-color: #ECECEC;
    border-radius: 6px;
}

.box-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex: 7;
    flex-direction: column;
    margin-right: 20px;
}

.row-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

.smaller-box {
    max-width: 180px;
}

.left-box {
    margin-right: 10px;
}

.right-box {
    margin-left: 10px;
}

.user-box {
    padding: 20px;
    background-color: #ECECEC;
    border-radius: 6px;
    margin-bottom: 20px;
    min-width: 400px;
}

.user-info-box {
    display: flex;
    align-items: center;
}

.user-icon {
    padding: 20px;
    margin-right: 20px;
    max-width: 120px;
    max-height: 120px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.user-info-text {
    display: flex;
    flex-direction: column;
}

.recent-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
    cursor: pointer;
}

.course-grid.has-courses {
    margin-top: 10px;
}

.course-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 6px;
}

.progress-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.progress-section {
    display: flex;
    flex-direction: row;
    width: 67.36%;
}

.progress-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-circle {
    position: relative;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.circle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    padding-top: 26px;
}

.progress-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.progress-color-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.progress-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
}

.achievements-container {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: start;
    overflow-y: auto;
    margin-right: 6px;
    padding: 0 10px;
    width: 100%;
    max-height: 160px;
    scrollbar-color: #D9D9D9 #ECECEC;
}

.archievement-column {
    display: flex;
    flex-direction: column;
}

.archievement-row {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}

.archievement-icon {
    margin-right: 10px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: #D9D9D9;
    border-radius: 6px;
}

.archievement-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.suggested-course-row {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    cursor: pointer;
}

.suggested-course-icon {
    margin-right: 10px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: #D9D9D9;
    border-radius: 6px;
}

.suggested-course-score {
    display: flex;
    flex-direction: row;
}

.course-score-text {
    margin-right: 6px;
}

.course-score-icon {
    position: relative;
    top: -3px;
    margin-left: 6px;
}

table {
    table-layout: fixed;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    border: 1px solid #ECECEC;
    border-collapse: collapse;
}

table tr {
    background-color: #ECECEC;
    border-bottom: 4px solid white;
}

table th {
    background-color: #D9D9D9;
}

table th,
table td {
    text-align: center;
    padding: .625em;
}

table th {
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: .1em;
}

table td {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .column-container {
        margin-right: 0;
    }
}

@media screen and (max-width: 900px) {
    .dashboard {
        margin: 40px;
    }

    table {
        border: 0;
    }

    table thead {
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        border: none;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
        border-bottom: 3px solid #D9D9D9;
    }

    table td {
        display: block;
        text-align: right;
        font-size: .8em;
        border-bottom: 1px solid #D9D9D9;
    }

    table td::before {
        float: left;
        text-transform: uppercase;
        font-size: smaller;
        font-weight: bold;
        content: attr(data-label);
    }

    table td:last-child {
        border-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .progress-container {
        justify-content: center;
    }

    .archievement-icon {
        display: none;
    }

    .suggested-course-icon {
        display: none;
    }
}
